@import 'https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css';
@import "https://js.arcgis.com/calcite-components/2.4.0/calcite.css";
html,
body {
  background-color: var(--calcite-ui-foreground-2);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
arcgis-map{
  height:100%;
}
.features{
  height:100vh;
  overflow: auto;
}